{% extends "layout.html" %}
{% block content %}
    <div class="columns ">
            <div class="column is-4" id='aboutme'>
                <p class="is-size-3">O mě</p>
                <p>Dokončuji inženýrské studia, potom plánuji pracovat jako developer. Icing on the cake?
                    Anglicky na C1 a rusky na B1. Taky řidičák B a "can do attitude". Hledám práci.</p>
                <br><br>
                <a class="button is-link has-text-centered" href="mailto:rajsigltom@gmail.com">Mail</a>
                <a class="button is-link has-text-centered" href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-rajsigl-660683b9/">LinkedIn</a>
                <a class="button is-link has-text-centered" href="https://github.com/AkLato?tab=repositories">GitHub</a>
            </div>
            <div class="column is-2">
                <figure class="image is-128x128 is-pulled-right">
                    <img class="is-rounded" src="static/profile_pics/foto.jpg">
                </figure>
            </div>
            <div class='column' id='me'>
                <p><b>Jméno:</b> Bc. Tomáš Rajsigl</p>
                <br>
                <p><b>Věk:</b> 26</p>
                <br>
                <p><b>Lokalita:</b> Brno</p>
                <br>
                <p><b>Obor:</b> Angličtina v informatice a elektrotechnice</p>
                <br>
            </div>
        </div>
{% endblock content %}